@import 'bootstrap_custom';

body {
  overflow-x: hidden;
}

.home-bg {
  height: 100vh;
  width: 100%;
  background: #f6768e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.curve-spacer {
  width: 110vw;
  position: relative;
  left: -5vw;
}

.gossips-display {
  background: #f6768e;
}

.info-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  font-size: 4em;
  background: white;
  mix-blend-mode: screen;
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.home-card {
  width: 15rem;
  border-radius: 1em;
}

.home-card .card-text {
  font-size: 1.4em;
}

.show-card {
  padding: 2em;
  min-width: 50%;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.gossip-card {
  width: 100%;
}

.new-card {
  padding: 2em;
  min-width: 50%;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#nav1 {
  background: #7ebce6;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #797ee2;
}

a:hover {
  color: #f6768e;
}

.tag-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .3em;
  width: fit-content;
}

.tag i {
  margin-left: 1em;
}

.comment-container {
  background-color: #f2f2f2;
  border-radius: 1em;
  margin: 3px;
  padding: 1em;
  overflow: hidden;
  width: unset;
}

.flash li {
  list-style: none;
}

.flash {
  z-index: 99;
  animation: vanish 3s 3s ease forwards;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.likes-count {
  color: #777;
  width: fit-content;
  position: relative;
}

.likes-display {
  display: none;
  position: absolute;
  bottom: 1em;
  left: -1em;
  padding: 1em;
  color: black;
  background: #f2f2f2;
  border-radius: 1em;
}

.likes-display:empty {
  background: transparent;
}

.likes-display li {
  list-style: none;
  width: max-content;
}

.likes-count:hover .likes-display {
  display: block;
}

.home-card .likes-count {
  font-size: .7em;
}

h1 > span {
  line-height: 1;
  font-size: 8rem;
  display: block;
}

.main-title {
  font-family: acier-bat-gris, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.7;
  margin-left: -0.06ch;
}

.main-title .char {
  cursor: default;
  transform-origin: center bottom;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.7, 1.8), color 400ms ease;
  color: var(--color);
  box-shadow: none;
}

.main-title .char:hover {
  transform: scale(1.4);
  transition-duration: 200ms;
  text-shadow: 0px 0px 3px black, 0px 0px 20px var(--color);
  z-index: 1;
}

.main-title .char:nth-child(1):hover {
  --color: #ffbe0b;
}

.main-title .char:nth-child(2):hover {
  --color: #7ebce6;
}

.main-title .char:nth-child(3):hover {
  --color: #fde12d;
}

.main-title .char:nth-child(4):hover {
  --color: #a4a8eb;
}

.main-title .char:nth-child(5):hover {
  --color: #da8ccd;
}

.main-title .char:nth-child(6):hover {
  --color: #f6768e;
}

.main-title .char:nth-child(7):hover {
  --color: #f3722c;
}

.main-title .char:nth-child(8):hover {
  --color: #43aa8b;
}

.main-title .char:nth-child(9):hover {
  --color: #f94144;
}

.main-title .char:nth-child(10):hover {
  --color: #f9c74f;
}
